@import './colors.scss';
* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type='email'],
input[type='password'] {
  border: 1px solid $primaryLight;
  line-height: 30px;
  border-radius: 4px;
  padding: 0 30px 0 8px;

  &:focus {
    outline-color: $primaryLight;
  }
}

button {
  background-color: $primary;
  color: $white;
  border-radius: 8px;
  line-height: 40px;
  font-size: 16px;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: .9;
  }
}